@page
@model CreateModel
@{
    ViewData["Title"] = "Create CV";
}

<h1> Create CV </h1>

<form class="row g-3" method="post">
    
    @* <div class="col-md-6"> *@
    @*      *@
    @*     <label for="inputEmail4" class="form-label">Cv template type</label> *@
    @*      *@
    @*     <input type="number" class="form-control" id="inputEmail4" name="CvTemplateType"> *@
    @*      *@
    @* </div> *@
    
    <div class="col-md-6">
        
        <label for="inputPassword4" class="form-label">Name</label>
        
        <input type="text" class="form-control" id="inputPassword4" name="Name">
        
    </div>
    
    <div class="col-12">
        
        <label for="inputAddress" class="form-label">JobTitle</label>
        
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="JobTitle">
        
    </div>
        
    <div class="col-12">
        
        <label for="inputAddress2" class="form-label">DayOfBirth</label>
        
        <input type="date" class="form-control" id="inputAddress2" name="DayOfBirth">
        
    </div>
        
    @* <div class="col-md-6"> *@
    @*      *@
    @*     <label for="inputCity" class="form-label">Nationality</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputCity" name="Nationality"> *@
    @*      *@
    @* </div> *@
    @*      *@
    @* <div class="col-md-4"> *@
    @*      *@
    @*     <label for="inputCity1" class="form-label">PhoneNumber</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputCity1" name="PhoneNumber"> *@
    @*      *@
    @* </div> *@
    @*      *@
    @* <div class="col-md-2"> *@
    @*      *@
    @*     <label for="inputZip2" class="form-label">EmailAddress</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputZip2" name="EmailAddress"> *@
    @*      *@
    @* </div> *@
    @* *@
    @* <div class="col-md-2"> *@
    @*      *@
    @*     <label for="inputZip3" class="form-label">Website</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputZip3" name="Website"> *@
    @*      *@
    @* </div> *@
    @* *@
    @* <div class="col-md-2"> *@
    @*      *@
    @*     <label for="inputZip4" class="form-label">Linkedin</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputZip4" name="Linkedin"> *@
    @*      *@
    @* </div> *@
    @* *@
    @* <div class="col-md-2"> *@
    @*      *@
    @*     <label for="inputZip5" class="form-label">About</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputZip5" name="About"> *@
    @*      *@
    @* </div> *@
    @*      *@
    @* <div class="col-md-2"> *@
    @*      *@
    @*     <label for="inputZip6" class="form-label">Skills</label> *@
    @*      *@
    @*     <input type="text" class="form-control" id="inputZip6" name="Skills"> *@
    @*      *@
    @* </div> *@
        
    <div class="col-12">
        
        <button type="submit" class="btn btn-primary">Compile</button>
        
    </div>
        
</form>