@page "resume/create"
@model CreateResumePageModel
@{
    ViewData["Title"] = "Create CV";
}

<h1> Create CV </h1>

<form method="post"%>
    
    <fieldset>
        <label asp-for="Form!.Name" class="control-label"></label>
        <input asp-for="Form!.Name" class="form-control"/>
        <span asp-validation-for="Form!.Name" class="text-danger"></span>

        <label asp-for="Form!.DateOfBirth" class="control-label"></label>
        <input asp-for="Form!.DateOfBirth" class="form-control"/>
        <span asp-validation-for="Form!.DateOfBirth" class="text-danger"></span>

        <label asp-for="Form!.JobTitle" class="control-label"></label>
        <input asp-for="Form!.JobTitle" class="form-control"/>
        <span asp-validation-for="Form!.JobTitle" class="text-danger"></span>
    </fieldset>
    
    <fieldset>
        
        <label asp-for="Form!.PhoneNumber" class="control-label"></label>
        <input asp-for="Form!.PhoneNumber" class="form-control"/>
        <span asp-validation-for="Form!.PhoneNumber" class="text-danger"></span>
        
        <label asp-for="Form!.Address" class="control-label"></label>
        <input asp-for="Form!.Address" class="form-control"/>
        <span asp-validation-for="Form!.Address" class="text-danger"></span>
        
        <label asp-for="Form!.Email" class="control-label"></label>
        <input asp-for="Form!.Email" class="form-control"/>
        <span asp-validation-for="Form!.Email" class="text-danger"></span>
        
        <label asp-for="Form!.LinkedIn" class="control-label"></label>
        <input asp-for="Form!.LinkedIn" class="form-control"/>
        <span asp-validation-for="Form!.LinkedIn" class="text-danger"></span>
        
    </fieldset>
    <button type="submit">Create</button>
</form>

@if (Model.Path is not null)
{
    <embed src="~/Resumes/@Model.Path" alt="" width="1000" height="1000"/>
}

@* <form method="post"> *@
@* *@
@*     $1$ <div class="col-md-6"> #1# *@
@*     $1$ #1# *@
@*     $1$     <label for="inputEmail4" class="form-label">Cv template type</label> #1# *@
@*     $1$ #1# *@
@*     $1$     <input type="number" class="form-control" id="inputEmail4" name="CvTemplateType"> #1# *@
@*     $1$ #1# *@
@*     $1$ </div> #1# *@
@* *@
@*     <div> *@
@*         <label for="cvName">@nameof(CreateCvRequest.Name)</label> *@
@*         <input type="text" *@
@*                id="cvName" *@
@*                name="@nameof(CreateCvRequest.Name)" *@
@*                value="@Request.Form[nameof(CreateCvRequest.Name)]"> *@
@*     </div> *@
@* *@
@*     <div> *@
@*         <label for="jobTitle">JobTitle</label> *@
@*         <input type="text" id="jobTitle" placeholder="Software engineer" name="JobTitle"> *@
@*     </div> *@
@* *@
@*     <div> *@
@* *@
@*         <label for="dayOfBirth">DayOfBirth</label> *@
@* *@
@*         <input type="date" id="dayOfBirth" name="DayOfBirth"> *@
@* *@
@*     </div> *@
@* *@
@*     <div> *@
@* *@
@*         <label for="nationality">Nationality</label> *@
@* *@
@*         <input type="text" id="nationality" name="Nationality"> *@
@* *@
@*     </div> *@
@* *@
@*     <div> *@
@* *@
@*         <label for="phoneNumber">PhoneNumber</label> *@
@* *@
@*         <input type="text" id="phoneNumber" name="PhoneNumber"> *@
@* *@
@*     </div> *@
@* *@
@*     <div> *@
@* *@
@*         <label for="emailAddress">EmailAddress</label> *@
@* *@
@*         <input type="email" id="emailAddress" name="EmailAddress"> *@
@* *@
@*     </div> *@
@* *@
@* *@
@*     <div> *@
@* *@
@*         <label for="website">Website</label> *@
@* *@
@*         <input type="url" id="website" name="Website"> *@
@* *@
@*     </div> *@
@* *@
@*     <div> *@
@* *@
@*         <label for="linkedIn">Linkedin</label> *@
@* *@
@*         <input type="url" id="linkedIn" name="Linkedin"> *@
@* *@
@*     </div> *@
@* *@
@*     <div> *@
@* *@
@*         <label for="about">About</label> *@
@* *@
@*         <textarea name="About" id="about" rows="5"></textarea> *@
@* *@
@*     </div> *@
@* *@
@*     $1$ <div class="col-md-2"> #1# *@
@*     $1$ #1# *@
@*     $1$     <label for="skills" class="form-label">Skills</label> #1# *@
@*     $1$ #1# *@
@*     $1$     <input type="text" class="form-control" id="skills" name="Skills"> #1# *@
@*     $1$ #1# *@
@*     $1$ </div> #1# *@
@* *@
@*     <div> *@
@* *@
@*         <button type="submit">Compile</button> *@
@* *@
@*     </div> *@
@* *@
@* </form> *@